PORT=5000
MONGO_URI=mongodb://localhost:27017/tvds
JWT_SECRET=your_jwt_secret_key_123
AI_SERVICE_URL=http://localhost:8000
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173

# Payment Gateways
ESEWA_SCD=EPAYTEST
ESEWA_SECRET=8g8M8t8P8m8thPIY
KH_SECRET_KEY=Key-Your-Secret-Key

# AWS S3 Cloud Storage (Leave blank for local storage fallback)
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
